   #nav{
       background: white;
// //     background: rgb(85,184,205);
// // background: linear-gradient(90deg, rgba(85,184,205,0.7203256302521008) 33%, rgba(67,224,106,0.6811099439775911) 61%);

// // background: rgb(0,0,0);
// // background: linear-gradient(90deg, rgba(0,0,0,0.9023984593837535) 0%, rgba(0,0,0,0.8071603641456583) 0%);
 }

#brand{
     background: white;
    // align-items: center;
}

#partition{
    height: 1px;
    background: #cbcfd4;

}

#partition2{
    height: 1px;
    background: #cbcfd4;

}

#bar{
    background: white;
}